*  {
    box-sizing: border-box;
}

body {
    background-color: #ebe8e7;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.main-header {
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background: #1a7b3400;
    padding: 60px 100px 5px;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    height: 22px;
    display: inline-block;
    line-height: inherit;
    margin-left: 100px;
    
}

.main-header__brand img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.main-nav__items {
    margin-left: 700px;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: black;
    border-bottom: 3px solid rgb(0, 0, 0);
}

.main-footer {
    background: rgb(0, 0, 0);
    padding: 32px;
}

/*.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}*/

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}
