body {font-family: 'Roboto Mono', monospace;}
* {box-sizing: border-box;}

#contact-form {
  padding-right: 600px;
}

input[type=text], [type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

.button {
  background: #9f9f9f;
  color: white;
  font: inherit;
  border: 1px solid #232423;
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.button:hover,
.button:active {
  background: white;
  color: #000000;
}

.container {  
  border-radius: 5px;
  background:linear-gradient(to top, hsl(0, 2%, 62%) 10%, transparent) ;
  padding-top: 97px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: flex-start; 
  justify-content: space-evenly;
}

.space {
  padding-left: 300px;
}

.frases {
  font-weight: bold;
}


