main {
    padding-top: 32px;
}

#foto {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 500px;
    padding: 10px;   
    position: relative;
    padding-left: 500px;
}

#texto {
    font-size: 12px;
    padding-right: 500px;
    padding-left: 20px;
}
.conteudos {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start; 
    justify-content: space-evenly;
    padding-top: 97px;
    padding-block-end: 100px;
}

.texto2 {
    font-size: 13px;
    font-weight: bold;
}

.texto3 {
    font-size: 13px;
    font-weight: bold;
}
